@import "tailwindcss";
@import "tw-animate-css";

/*
This iPhone 14 Pro Device CSS is forked from the following MIT licensed repo:
https://github.com/picturepan2/devices.css/blob/11846244977a4905a4fb9ac12bb2121e068d6147/src/_iphone-14-pro.scss
*/

.device-iphone-14-pro {
  height: 868px;
  width: 428px;
}

.device-iphone-14-pro .device-frame {
  background: #010101;
  border: 1px solid #1f1a2d;
  border-radius: 68px;
  box-shadow:
    inset 0 0 4px 2px #8b7a9e,
    inset 0 0 0 6px #342c3f;
  height: 868px;
  padding: 19px;
  width: 428px;
  position: relative;
}

.device-iphone-14-pro .device-screen {
  border-radius: 49px;
  height: 830px;
  width: 390px;
  overflow: hidden;
  background: white;
}

.device-iphone-14-pro .device-stripe::after,
.device-iphone-14-pro .device-stripe::before {
  border: solid rgba(1, 1, 1, 0.25);
  border-width: 0 7px;
  content: "";
  height: 7px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.device-iphone-14-pro .device-stripe::after {
  top: 85px;
}

.device-iphone-14-pro .device-stripe::before {
  bottom: 85px;
}

.device-iphone-14-pro .device-header {
  background: #010101;
  border-radius: 20px;
  height: 35px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  top: 29px;
  width: 120px;
}

.device-iphone-14-pro .device-sensors::after,
.device-iphone-14-pro .device-sensors::before {
  content: "";
  position: absolute;
}

.device-iphone-14-pro .device-sensors::after {
  background: #010101;
  border-radius: 17px;
  height: 33px;
  left: 50%;
  margin-left: -60px;
  top: 30px;
  width: 74px;
}

.device-iphone-14-pro .device-sensors::before {
  background:
    radial-gradient(farthest-corner at 20% 20%, #6074bf 0, transparent 40%),
    radial-gradient(
      farthest-corner at 80% 80%,
      #513785 0,
      #24555e 20%,
      transparent 50%
    );
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  height: 9px;
  left: 50%;
  margin-left: 36px;
  top: 42px;
  width: 9px;
}

.device-iphone-14-pro .device-btns {
  background: #1f1a2d;
  border-radius: 2px;
  height: 32px;
  left: -2px;
  position: absolute;
  top: 115px;
  width: 3px;
}

.device-iphone-14-pro .device-btns::after,
.device-iphone-14-pro .device-btns::before {
  background: #1f1a2d;
  border-radius: 2px;
  content: "";
  height: 62px;
  left: 0;
  position: absolute;
  width: 3px;
}

.device-iphone-14-pro .device-btns::after {
  top: 60px;
}

.device-iphone-14-pro .device-btns::before {
  top: 140px;
}

.device-iphone-14-pro .device-power {
  background: #1f1a2d;
  border-radius: 2px;
  height: 100px;
  right: -2px;
  position: absolute;
  top: 200px;
  width: 3px;
}

.device-iphone-14-pro .device-home::after,
.device-iphone-14-pro .device-home::before {
  border: solid rgba(1, 1, 1, 0.25);
  border-width: 6px 0;
  content: "";
  height: 6px;
  position: absolute;
  width: 6px;
  z-index: 9;
}

.device-iphone-14-pro .device-home::after {
  right: 86px;
  top: 0;
}

.device-iphone-14-pro .device-home::before {
  bottom: 0;
  left: 86px;
}
:root {
  --background: oklch(0.9399 0.0203 345.6985);
  --foreground: oklch(0.4712 0 0);
  --card: oklch(0.9498 0.05 86.8891);
  --card-foreground: oklch(0.4712 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.4712 0 0);
  --primary: oklch(0.6209 0.1801 348.1385);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8095 0.0694 198.1863);
  --secondary-foreground: oklch(0.3211 0 0);
  --muted: oklch(0.88 0.0504 212.0952);
  --muted-foreground: oklch(0.5795 0 0);
  --accent: oklch(0.9195 0.0801 87.667);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.7091 0.1697 21.9551);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.6209 0.1801 348.1385);
  --input: oklch(0.9189 0 0);
  --ring: oklch(0.7002 0.1597 350.7532);
  --chart-1: oklch(0.7002 0.1597 350.7532);
  --chart-2: oklch(0.8189 0.0799 212.0892);
  --chart-3: oklch(0.9195 0.0801 87.667);
  --chart-4: oklch(0.7998 0.111 348.1791);
  --chart-5: oklch(0.6197 0.1899 353.9091);
  --sidebar: oklch(0.914 0.0424 343.0913);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6559 0.2118 354.3084);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8228 0.1095 346.0184);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.9464 0.0327 307.1745);
  --sidebar-ring: oklch(0.6559 0.2118 354.3084);
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
  --shadow-xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
  --shadow-sm:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-md:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 2px 4px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-lg:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 4px 6px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-xl:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 8px 10px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-2xl: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 2.5);
}

.dark {
  --background: oklch(0.2497 0.0305 234.1628);
  --foreground: oklch(0.9306 0.0197 349.0785);
  --card: oklch(0.2902 0.0299 233.5352);
  --card-foreground: oklch(0.9306 0.0197 349.0785);
  --popover: oklch(0.2902 0.0299 233.5352);
  --popover-foreground: oklch(0.9306 0.0197 349.0785);
  --primary: oklch(0.9195 0.0801 87.667);
  --primary-foreground: oklch(0.2497 0.0305 234.1628);
  --secondary: oklch(0.7794 0.0803 4.133);
  --secondary-foreground: oklch(0.2497 0.0305 234.1628);
  --muted: oklch(0.2713 0.0086 255.578);
  --muted-foreground: oklch(0.7794 0.0803 4.133);
  --accent: oklch(0.6699 0.0988 356.9762);
  --accent-foreground: oklch(0.9306 0.0197 349.0785);
  --destructive: oklch(0.6702 0.1806 350.3599);
  --destructive-foreground: oklch(0.2497 0.0305 234.1628);
  --border: oklch(0.3907 0.0399 242.2181);
  --input: oklch(0.3093 0.0305 232.0027);
  --ring: oklch(0.6998 0.0896 201.8672);
  --chart-1: oklch(0.6998 0.0896 201.8672);
  --chart-2: oklch(0.7794 0.0803 4.133);
  --chart-3: oklch(0.6699 0.0988 356.9762);
  --chart-4: oklch(0.4408 0.0702 217.0848);
  --chart-5: oklch(0.2713 0.0086 255.578);
  --sidebar: oklch(0.2303 0.027 235.9743);
  --sidebar-foreground: oklch(0.967 0.0029 264.5419);
  --sidebar-primary: oklch(0.6559 0.2118 354.3084);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8228 0.1095 346.0184);
  --sidebar-accent-foreground: oklch(0.2781 0.0296 256.848);
  --sidebar-border: oklch(0.3729 0.0306 259.7328);
  --sidebar-ring: oklch(0.6559 0.2118 354.3084);
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.5);
  --shadow-xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.5);
  --shadow-sm:
    3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
    3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1);
  --shadow:
    3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
    3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1);
  --shadow-md:
    3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
    3px 2px 4px -1px hsl(206.1538 28.0576% 27.2549% / 1);
  --shadow-lg:
    3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
    3px 4px 6px -1px hsl(206.1538 28.0576% 27.2549% / 1);
  --shadow-xl:
    3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
    3px 8px 10px -1px hsl(206.1538 28.0576% 27.2549% / 1);
  --shadow-2xl: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 2.5);
}

/*
iMac 24" (2021) Device CSS - Light Blue Edition
Based on devices.css library
*/

.device-imac {
  height: 540px;
  width: 640px;
}

.device-imac .device-frame {
  background: #edeef0;
  border-radius: 18px;
  box-shadow: inset 0 0 0 1px #d4d5d7;
  height: 440px;
  padding: 16px 16px 80px 16px;
  position: relative;
  width: 640px;
}

.device-imac .device-frame::after {
  background: #d4d5d7;
  border-radius: 0 0 18px 18px;
  bottom: 1px;
  box-shadow: inset 0 0 18px 0 rgba(212, 213, 215, 0.95);
  content: "";
  height: 63px;
  left: 1px;
  position: absolute;
  width: 638px;
}

.device-imac .device-frame::before {
  background: rgba(13, 13, 13, 0.97);
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 6px;
  z-index: 9;
}

/* 4480-by-2520-pixel resolution */
.device-imac .device-screen {
  border: 2px solid rgba(13, 13, 13, 1.02);
  border-radius: 2px;
  height: 342px;
  width: 608px;
  overflow: hidden;
  background: white;
}

.device-imac .device-power::after {
  background: radial-gradient(
    circle at center,
    #d4d5d7 85%,
    rgba(212, 213, 215, 0.8) 100%
  );
  border-top: 1px solid #d4d5d7;
  content: "";
  height: 6px;
  margin: 0 auto;
  position: relative;
  width: 152px;
}

.device-imac .device-power::before {
  background: linear-gradient(
    to bottom,
    rgba(212, 213, 215, 0.8) 0%,
    rgba(212, 213, 215, 0.95) 40%,
    rgba(212, 213, 215, 0.95) 85%,
    rgba(237, 238, 240, 1.15) 90%,
    rgba(212, 213, 215, 0.6) 100%
  );
  content: "";
  height: 92px;
  margin: 0 auto;
  position: relative;
  width: 152px;
}

.device-imac .device-home {
  background: transparent;
  border-radius: 0 0 3px 3px;
  bottom: 0;
  box-shadow:
    -61px 0 #d4d5d7,
    61px 0 #d4d5d7;
  height: 2px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  width: 30px;
}

/* Blue edition */
.device-imac.device-blue .device-frame {
  box-shadow: inset 0 0 0 2px #b4c7da;
}

.device-imac.device-blue .device-frame::after {
  background: #b4c7da;
  box-shadow: inset 0 0 18px 0 rgba(180, 199, 218, 0.95);
}

.device-imac.device-blue .device-power::after {
  background: radial-gradient(
    circle at center,
    #b4c7da 85%,
    rgba(180, 199, 218, 0.8) 100%
  );
  border-top-color: #b4c7da;
}

.device-imac.device-blue .device-power::before {
  background: linear-gradient(
    to bottom,
    rgba(180, 199, 218, 0.8) 0%,
    rgba(180, 199, 218, 0.95) 40%,
    rgba(180, 199, 218, 0.95) 85%,
    rgba(237, 238, 240, 1.15) 90%,
    rgba(180, 199, 218, 0.6) 100%
  );
}

.device-imac.device-blue .device-home {
  box-shadow:
    -61px 0 #b4c7da,
    61px 0 #b4c7da;
}

/* Green edition */
.device-imac.device-green .device-frame {
  box-shadow: inset 0 0 0 2px #bbd0c8;
}

.device-imac.device-green .device-frame::after {
  background: #bbd0c8;
  box-shadow: inset 0 0 18px 0 rgba(187, 208, 200, 0.95);
}

.device-imac.device-green .device-power::after {
  background: radial-gradient(
    circle at center,
    #bbd0c8 85%,
    rgba(187, 208, 200, 0.8) 100%
  );
  border-top-color: #bbd0c8;
}

.device-imac.device-green .device-power::before {
  background: linear-gradient(
    to bottom,
    rgba(187, 208, 200, 0.8) 0%,
    rgba(187, 208, 200, 0.95) 40%,
    rgba(187, 208, 200, 0.95) 85%,
    rgba(237, 238, 240, 1.15) 90%,
    rgba(187, 208, 200, 0.6) 100%
  );
}

.device-imac.device-green .device-home {
  box-shadow:
    -61px 0 #bbd0c8,
    61px 0 #bbd0c8;
}

/* Pink edition */
.device-imac.device-pink .device-frame {
  box-shadow: inset 0 0 0 2px #edccc6;
}

.device-imac.device-pink .device-frame::after {
  background: #edccc6;
  box-shadow: inset 0 0 18px 0 rgba(237, 204, 198, 0.95);
}

.device-imac.device-pink .device-power::after {
  background: radial-gradient(
    circle at center,
    #edccc6 85%,
    rgba(237, 204, 198, 0.8) 100%
  );
  border-top-color: #edccc6;
}

.device-imac.device-pink .device-power::before {
  background: linear-gradient(
    to bottom,
    rgba(237, 204, 198, 0.8) 0%,
    rgba(237, 204, 198, 0.95) 40%,
    rgba(237, 204, 198, 0.95) 85%,
    rgba(237, 238, 240, 1.15) 90%,
    rgba(237, 204, 198, 0.6) 100%
  );
}

.device-imac.device-pink .device-home {
  box-shadow:
    -61px 0 #edccc6,
    61px 0 #edccc6;
}

/* Yellow edition */
.device-imac.device-yellow .device-frame {
  box-shadow: inset 0 0 0 2px #f4d595;
}

.device-imac.device-yellow .device-frame::after {
  background: #f4d595;
  box-shadow: inset 0 0 18px 0 rgba(244, 213, 149, 0.95);
}

.device-imac.device-yellow .device-power::after {
  background: radial-gradient(
    circle at center,
    #f4d595 85%,
    rgba(244, 213, 149, 0.8) 100%
  );
  border-top-color: #f4d595;
}

.device-imac.device-yellow .device-power::before {
  background: linear-gradient(
    to bottom,
    rgba(244, 213, 149, 0.8) 0%,
    rgba(244, 213, 149, 0.95) 40%,
    rgba(244, 213, 149, 0.95) 85%,
    rgba(237, 238, 240, 1.15) 90%,
    rgba(244, 213, 149, 0.6) 100%
  );
}

.device-imac.device-yellow .device-home {
  box-shadow:
    -61px 0 #f4d595,
    61px 0 #f4d595;
}

/* Orange edition */
.device-imac.device-orange .device-frame {
  box-shadow: inset 0 0 0 2px #e9b5a0;
}

.device-imac.device-orange .device-frame::after {
  background: #e9b5a0;
  box-shadow: inset 0 0 18px 0 rgba(233, 181, 160, 0.95);
}

.device-imac.device-orange .device-power::after {
  background: radial-gradient(
    circle at center,
    #e9b5a0 85%,
    rgba(233, 181, 160, 0.8) 100%
  );
  border-top-color: #e9b5a0;
}

.device-imac.device-orange .device-power::before {
  background: linear-gradient(
    to bottom,
    rgba(233, 181, 160, 0.8) 0%,
    rgba(233, 181, 160, 0.95) 40%,
    rgba(233, 181, 160, 0.95) 85%,
    rgba(237, 238, 240, 1.15) 90%,
    rgba(233, 181, 160, 0.6) 100%
  );
}

.device-imac.device-orange .device-home {
  box-shadow:
    -61px 0 #e9b5a0,
    61px 0 #e9b5a0;
}

/* Purple edition */
.device-imac.device-purple .device-frame {
  box-shadow: inset 0 0 0 2px #c4c4e5;
}

.device-imac.device-purple .device-frame::after {
  background: #c4c4e5;
  box-shadow: inset 0 0 18px 0 rgba(196, 196, 229, 0.95);
}

.device-imac.device-purple .device-power::after {
  background: radial-gradient(
    circle at center,
    #c4c4e5 85%,
    rgba(196, 196, 229, 0.8) 100%
  );
  border-top-color: #c4c4e5;
}

.device-imac.device-purple .device-power::before {
  background: linear-gradient(
    to bottom,
    rgba(196, 196, 229, 0.8) 0%,
    rgba(196, 196, 229, 0.95) 40%,
    rgba(196, 196, 229, 0.95) 85%,
    rgba(237, 238, 240, 1.15) 90%,
    rgba(196, 196, 229, 0.6) 100%
  );
}

.device-imac.device-purple .device-home {
  box-shadow:
    -61px 0 #c4c4e5,
    61px 0 #c4c4e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
